.header{
    background-color: #008067;
}

.whitefont{
    color: white;
}

*{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.underline{
    color: white;
    text-underline-offset: 10px;
}

.noline{
    text-decoration: none;
    color: white;
}

.search{
    border: 1px solid black;
    border-radius: 5px;
    height: 30px;
}